@page
@model AspnetCoreIdentity.Pages.LoginModel
@{
}
<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Credential.Username"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="Credential.Username" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="Credential.Username"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Credential.Password"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="Credential.Password" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="Credential.Password"></span>
        </div>
        <div class="row form-check mb-2">
            <div class="col-3">
                <input type="checkbox" asp-for="Credential.RememberMe" class="form-check-input"/>
                <label  class="form-check-label" asp-for="Credential.RememberMe"></label>
            </div>
            <div class="col">

            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
        </div>
    </form>

</div>